.link{
    text-decoration: none;
    height: 100px;
}

.container {
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    width: 300px;
    height: 100px;
    background-color: #F1F6F9;
    margin: 10px;
    transition: all 0.8s cubic-bezier(0.15, 0.83, 0.66, 1);
    border-radius: 10px;
}

.container img {
    grid-column-start: 1;
    width: 100%;
    height: 90%;
    overflow: hidden;
}

.info{
    grid-column-start: 2;
    display: grid;
    align-self: center;
    justify-content: center;
    align-items: center;
}

.info h2{
    color: #212A3E;
}

.info p{
    color: white;
    border-radius: 5px;
    border: solid 2px #F1F6F9;
    width: 10em;
}

.container:hover {
    transform: scale(1.10);
}

.info button {
    background-color: red;
    color: white;
    width: 15px;
    height: 15px;
    text-align: center;
    border: none;
    border-radius: 3px;
    font-size: 10px;
    position: absolute;
    align-self: start;
    justify-self: end;
    margin:auto;
}