.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0
}

@media (min-width: 1296px) {
  .container {
    padding: 0 10rem; 
  }
}

@media (min-width: 1600px) {
    .container {
        padding: 0 20rem;
    }
}

.buttons {
    margin: 15px;
}

.buttons button{
    border-radius: 50%;
    width: auto;
    height: auto;
    border: 3px solid white;
    background-color: #9BA4B5;
    cursor: pointer;
    margin: 5px;
}

.buttons button:hover{
    color: white;
    
}

.buttonA{
    background-color: black;
    color: white;
    border-radius: 50%;
    width: auto;
    height: auto;
    border: 3px solid white;
    cursor: pointer;
}

@keyframes expandir {
    from{
        margin: 0px
    }
    to{
        margin: 4px
    }
}