.boton{
    width: 5em;
    height: 3em;
    border-style: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 5px;
    color: black;
    background-color: #9BA4B5;
    font-family: 'IBM Plex Mono', monospace;
}