.boton{
    width: auto;
    height: 3em;
    border-style: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 5px;
    background-color: #9BA4B5;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 13px;
    border: solid 2px white;
    padding: 10px;
}

.boton:hover {
    animation: shake3856 0.3s linear infinite both;
   }
   
   @keyframes shake3856 {
    0% {
     -webkit-transform: translate(0);
     transform: translate(0);
    }
   
    20% {
     -webkit-transform: translate(-2px, 2px);
     transform: translate(-2px, 2px);
    }
   
    40% {
     -webkit-transform: translate(-2px, -2px);
     transform: translate(-2px, -2px);
    }
   
    60% {
     -webkit-transform: translate(2px, 2px);
     transform: translate(2px, 2px);
    }
   
    80% {
     -webkit-transform: translate(2px, -2px);
     transform: translate(2px, -2px);
    }
   
    100% {
     -webkit-transform: translate(0);
     transform: translate(0);
    }
   }