.container{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.form{
    display: grid;
    width: 500px;
    justify-content: center;
    background-color: #fdeca6;
    padding: 15px;
    border-radius: 10px;
    border: 5px solid #ffc600;
    font-size: 13px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    margin: 20px;
}



.input{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.input input{
    display: block;
}

.input div{
    display: grid;
    justify-content: center;
    margin: 5px;
}

.peso{
    display: grid;
    justify-content: center;
    margin: 5px;
}

.peso input{
    display: block;
    width: auto;
}
.peso div{
    display: grid;
    justify-content: center;
}


.types{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-area: 3px;
}

.types label{
    display: flex;
    justify-content: start;
    font-size: 13px;
}

.form button{
    width: auto;
    height: auto;
    border-style: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 5px;
    background-color: #9BA4B5;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 13px;
    border: solid 2px #ffc600;
    padding: 10px;
}
.form button:hover {
    animation: shake3856 0.3s linear infinite both;
   }
.inputFile{
    border: solid 2px #ffc600;
    border-radius: 5px;
    background-color: #f7f6f1;
}

   @keyframes shake3856 {
    0% {
     -webkit-transform: translate(0);
     transform: translate(0);
    }
   
    20% {
     -webkit-transform: translate(-2px, 2px);
     transform: translate(-2px, 2px);
    }
   
    40% {
     -webkit-transform: translate(-2px, -2px);
     transform: translate(-2px, -2px);
    }
   
    60% {
     -webkit-transform: translate(2px, 2px);
     transform: translate(2px, 2px);
    }
   
    80% {
     -webkit-transform: translate(2px, -2px);
     transform: translate(2px, -2px);
    }
   
    100% {
     -webkit-transform: translate(0);
     transform: translate(0);
    }
   }

.errorType{
    font-size: 12px;
    color: red;
    position:absolute;
    align-self: end;
}

.containerType{
    display: grid;
    grid-template-rows: 5fr 1fr;
}

.campo {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    margin-bottom: 2px;
}

@media (max-width: 768px){
    .form{
        width: 370px;
    }
}


