.container{
    background-color: #d31b22;
    width: 100%;
    height: 70px;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.container img{
    height: 60px;
    margin-left: 15px;
}

@media (max-width: 768px){
    .container{
        height: auto;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr 1fr;
    }
}